.filter {
    background: var(--dark-gray);
    margin-top: 5px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter .filter-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 0 10px;
    font-size: 14px;
}

.filter .filter-select select {
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    display: block;
    width: 8rem;
    text-align: center;
}
