.formular {
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: var(--blue);
    box-shadow: 0 2px 0px var(--blue-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}