.formular {
    margin: 5px auto 20px;
    padding: 8px;
    width: 95%;
    max-width: 42rem;
    background-color: var(--blue);
    border-radius: 8px;
    box-shadow: 0 2px 0px var(--blue-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}